li {
	list-style-type: none;
}
input {
	font-size: 1em;
}

@media screen and (max-width: 540px) {
  h1 {
     font-size: 3em;
  }
}
@media screen and (min-width: 540px) {
  h1 {
     font-size: 3.5em;
  }
}
@media screen and (min-width: 980px) {
  h1 {
     font-size: 4em;
  }
}

@media screen and (max-width: 540px) {
  .header img {
     height: 125px;
	 width: 160px;
  }
}
@media screen and (min-width: 540px) {
.header img {
		height: 141px ;
		width: 180px;
}
}
@media screen and (min-width: 980px) {
  .header img {
     height: 156px;
	 width: 200px;
  }
}

.header {
	background-color: #f1f1f1;
	color: black;
	padding: 10px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.header-right a {
  color: black;
  padding: 12px;
  font-size: 18px;
  display: flex;
  flex-flow: row-wrap;
  display: inline-block;
}

.header-right a:hover {
  background-color: #ddd;
  color: black;
}

.header-right {
	background-color: darkgray;
	color: black;
	text-align: center;
}

@media screen and (max-width: 540px) {
  .header a {
    float: none;
    display: block;
  }
  .header-right a {
    float: none;
	display: block;
  }
}

.wrapper {
  display: flex;  
  flex-flow: row wrap;
}

.wrapper > * {
  flex: 1 100%;
}

.aside-1 {
  background: white;
  border: 1px solid black;
}

.aside-2 {
  background: white;
  border: 1px solid black;
}

@media all and (min-width: 540px) {
  .aside { flex: 1 0 0; }
}

@media all and (min-width: 980px) {
  .Article { flex: 3 0px; }
  .aside-1 { order: 1; } 
  .Article { order: 2; }
  .aside-2 { order: 3; }
  .footer  { order: 4; }
}
	
.advert1 {
  width: 100%;
  height: auto;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}